
@using Webshop.Models.Pages

@model Webshop.Models.ViewModels.DefaultPageViewModel<ClothProductPage>

@{
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>
    @Model.CurrentPage.PageName
</h1>

<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>

<div class="row">
    <div class="span9 clearfix">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
</div>

<div class="row clearfix">
    <div class="span3">
        @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new {CssClass="row", tag="span8"})
        @*@Html.PropertyFor(x => x.CurrentPage.ProductImage)*@
        <a href="http://google.com">Google</a>
    </div>
</div>
   